# Yahoo export formatting

In [1]:
import pandas as pd

In [2]:
Quotes=pd.read_csv("data/Yahoq.csv")

In [3]:
Quotes.head()

,Symbol,Current Price,Date,Time,Change,Open,High,Low,Volume,Trade Date,Purchase Price,Quantity,Commission,High Limit,Low Limit,Comment
0,TEAM,153.9200,2020/05/01,15:52 EDT,-1.570007,150.000,157.2500,146.2300,2136857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SXLV.L,28.0125,2020/05/01,16:19 BST,-0.708750,28.245,28.2475,28.0275,13300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OXY,15.2150,2020/05/01,15:52 EDT,-1.385000,16.020,16.4100,15.0850,34453520,20200319.0,10.7,10000.0,NaN,NaN,NaN,NaN
3,XRX,16.9925,2020/05/01,15:52 EDT,-1.297501,17.740,17.9800,16.6900,3250910,20200319.0,16.2,6000.0,NaN,NaN,NaN,NaN
4,ZZMS.F,3.5000,2020/04/30,18:03 CEST,-0.240000,3.560,3.6400,3.3000,3653,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
Qgrop = Quotes[['Symbol','Current Price','Purchase Price','Quantity']]

In [5]:
Qgrop=Qgrop[Qgrop['Quantity'].notna()]

In [6]:
Qgrop['Market']=Qgrop['Current Price'] * Qgrop['Quantity']

In [7]:
Qgrop['Cost']=Qgrop["Purchase Price"] * Qgrop["Quantity"]

In [8]:
Dgroup=Qgrop.groupby('Symbol').agg({'Current Price':['mean','count'],'Quantity':['sum'],
                                   'Market':['sum'], 'Cost':['sum'],'Purchase Price':['mean']})

In [9]:
Dgroup.columns = ['C_Price','Count','Quantity','Market','Cost','Price']

In [10]:
Dgroup['Prof']=Dgroup["Market"] - Dgroup['Cost']

In [11]:
Dgroup.loc['ZSUM']=Dgroup.sum()

In [12]:
Dgroup

,C_Price,Count,Quantity,Market,Cost,Price,Prof
Symbol,,,,,,,
AAPL,289.0200,2.0,200.0,57804.0,-76700.0,219.500000,134504.0
ALC.SW,50.9400,3.0,0.0,0.0,476.0,36.800000,-476.0
AMS.SW,12.5700,5.0,37500.0,471375.0,521200.0,19.380000,-49825.0
AMZN,2287.9500,3.0,50.0,114397.5,-88590.0,1499.333333,202987.5
ARYN.SW,0.3892,1.0,120000.0,46704.0,106800.0,0.890000,-60096.0
AUTN.SW,85.0500,1.0,1000.0,85050.0,95000.0,95.000000,-9950.0
BABA,194.4700,2.0,600.0,116682.0,109800.0,183.000000,6882.0
BIDU,96.0500,2.0,1000.0,96050.0,187600.0,175.000000,-91550.0
BSLN.SW,48.6000,1.0,2000.0,97200.0,156000.0,78.000000,-58800.0
DAI.F,31.2000,1.0,2500.0,78000.0,121000.0,48.400000,-43000.0
GLEN.L,139.7800,2.0,0.0,0.0,-2800000.0,235.000000,2800000.0
GOOGL,1320.8800,2.0,100.0,132088.0,-24200.0,757.000000,156288.0
LHA.DE,8.1580,2.0,10500.0,85659.0,170250.0,15.950000,-84591.0
LISN.SW,80800.0000,1.0,1.0,80800.0,18000.0,18000.000000,62800.0
NESN.SW,101.9000,5.0,0.0,0.0,-119120.0,93.400000,119120.0
NOVN.SW,82.2600,1.0,1700.0,139842.0,144500.0,85.000000,-4658.0
OERL.SW,7.2300,2.0,20000.0,144600.0,209000.0,10.000000,-64400.0
OXY,15.2150,1.0,10000.0,152150.0,107000.0,10.700000,45150.0
PBB.DE,6.7150,2.0,0.0,0.0,-9000.0,10.100000,9000.0
ROG.SW,335.4500,1.0,600.0,201270.0,167400.0,279.000000,33870.0
TEMN.SW,125.6000,1.0,500.0,62800.0,73000.0,146.000000,-10200.0
TRXC,0.4198,6.0,0.0,0.0,141950.0,1.336667,-141950.0
UHRN.SW,37.5800,1.0,2000.0,75160.0,200000.0,100.000000,-124840.0
XRX,16.9925,1.0,6000.0,101955.0,97200.0,16.200000,4755.0
ZSUM,86094.4195,49.0,216251.0,2339586.5,-491434.0,22114.990000,2831020.5

# Excel-IO

In [16]:
Dgroup.to_excel("data/Nquotex.xlsx")

ModuleNotFoundError: No module named 'openpyxl'

In [15]:
Dgroup.to_csv("Data/NQuotex.csv")

# End yahoo quotes